
@font-face {
    font-family: "open-sans";
    src: url(/WebFonts/static/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "fjalla";
    src: url(/WebFonts/FjallaOne-Regular.ttf);
}

/*GENERICO PARA TODAS LAS PÁGINAS*/

.logo{
    width: 200px;
}
.iconos{
    width: 20px;
}

